#The one-step analysis and compilation flow is used to support legacy ICE 

veanalyze eth_clockgen.v tb_ethernetz.v eth_top.v  eth_crc.v eth_defines.v eth_fifo.v eth_maccontrol.v eth_macstatus.v eth_miim.v eth_outputcontrol.v eth_random.v eth_receivecontrol.v eth_registers.v eth_register.v eth_rxaddrcheck.v eth_rxcounters.v eth_rxethmac.v eth_rxstatem.v eth_shiftreg.v eth_spram_256x32.v eth_transmitcontrol.v eth_txcounters.v eth_txethmac.v eth_txstatem.v eth_wishbone.v eth_phy.v wb_master_behavioral.v wb_slave_behavioral.v wb_bus_mon.v ethmac.v
#veanalyze eth_clockgen.v tb_ethernetz.v eth_miim.v eth_outputcontrol.v eth_shiftreg.v ethmac.v ethmac_defines.v timescale.v
#veanalyze Top.sv interface.sv mips_module.sv if_mod.sv id_mod.sv ex_mod.sv alu.sv mem_mod.sv wb_mod.sv -novopt
#veanalyze Top.sv interface.sv mips_module.sv if_mod.sv id_mod.sv ex_mod.sv alu.sv -novopt
#veanalyze Top.sv interface.sv mips_module.sv ex_mod.sv alu.sv
#Declare top level module 
#eth_cop.v
comp -top tb_ethernetz

#Declare single step compile/analysis flow
comp -single_step

#Solo is D1S
comp -platform D1S

comp -num_boards 1

#ICE Legacy Support enabled
comp -app legacy 

#enable mem load
rtlc -hier_read_mem

velsyn -KeepAlive alive.txt