#Declare single step compile/analysis flow
#comp -single_step
#velcomp -task analyze

#Solo is D1S
comp -platform D1S

comp -num_boards 1

comp -top hdl_top

comp -hvl questa 

#ICE Legacy Support enabled
comp -app legacy 

#enable mem load
rtlc -hier_read_mem

rtlc -partition_module_rtl ethmac_if_pins
rtlc -partition_module_xrtl wb_master_driver_if

rtlc -partition_module_xrtl hdl_top
rtlc -partition_module_rtl eth_mac

rtlc -aowc_opt

velsyn -KeepAlive alive.txt

