##Solo is D1S
comp -platform D1S
#
comp -num_boards 1
#
comp -top hdl_top
#
comp -hvl questa 

rtlc -opt_level 0

rtlc -allow_4ST

rtlc -questa_task_allowed
rtlc -partition_module_xrtl mem_backdoor_if_pins
rtlc -partition_module_xrtl ethmac_if_pins
rtlc -partition_module_xrtl mem_bckdoor_dr

rtlc -partition_module_xrtl intr_if
rtlc -partition_module_xrtl wb_master_driver_if
#
rtlc -partition_module_xrtl hdl_top

rtlc -partition_module_xrtl eth_mac

rtlc -one_way_callee_opt

rtlc -aowc_opt

velsyn -KeepAlive alive.txt

